$titulos: #363f5f;
$green: #49AA26;
$light-green: #3dd705;
$red: #E92929;
$textos: #969CB3;
$background: #F0F2F5;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%; /* 15px */
}

body {
    background: $background;
    font-family:'Poppins', sans-serif;

    header {
        background: #2D4A22;
        padding: 2rem 0 10rem;

        .containerHeader {
            display: flex;
            justify-content: center;
        }
        .logo {
            height: 50px;
            width: 200px;
            background: url("./assets/logo.svg") no-repeat;

        }
    }
}

h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: $titulos;
    font-weight: normal;
}

.container {
    width: #{"min(90vw, 800px)"};
    margin: auto;
}

main {
    #balance {
        margin-top: -8rem;

        h2 {
            color: white;
            margin-top: 0;
        }
    }

    .card {
        background: white;
        padding: 1.5rem 2rem;
        border-radius: 0.25rem;

        margin-bottom: 2rem;
        color: $titulos;

        h3 {
            font-weight: normal;
            font-size: 1rem;

            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        p {
            font-size: 2rem;
            line-height: 3rem;
            white-space:nowrap;
            margin-top: 1rem;
        }
    }

    .total {
        background: $green;
        color: white;
    }

    #transaction {
        display: block;
        width: 100%;
        overflow-x: auto;

        #data-table {
            width: 100%;
            border-spacing: 0 0.5rem;
            color: $textos;
        }

        table {
            thead tr th:first-child,
            tbody tr td:first-child {
                border-radius: 0.25rem 0 0 0.25rem;
            }

            thead tr th:last-child,
            tbody tr td:last-child{
                border-radius: 0 0.25rem 0.25rem 0;
            }

            thead th {
                //background: #969CB2;
                color: $textos;

                font-weight: normal;
                padding: 1rem 2rem;

                text-align: left;
            }

            tbody tr {
                opacity: 0.7
            }

            tbody tr:hover {
                opacity: 1
            }

            tbody td {
                background:white;
                padding: 1rem 2rem;
            }

            td.description {
                color: $titulos;
            }

            td.income {
                color: #12a454;
            }

            td.expense {
                color: $red;
            }
        }
    }
}

footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: $titulos;

    opacity: 0.6;
}


