$titulos: #363f5f;
$green: #49AA26;
$light-green: #3dd705;
$red: #E92929;
$textos: #969CB3;
$background: #F0F2F5;
$background-header: #42224a;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%; /* 15px */
}

body {
    background: $background;
    font-family:'Poppins', sans-serif;

    header {
        background: $background-header;
        padding: 2rem 0 10rem;

        .containerHeader {
            display: flex;
            justify-content: center;
        }
        .logo {
            height: 66px;
            width: 200px;
            margin-top: 15px;
            background: url("./assets/logo.svg") no-repeat;
        }
    }
}

h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: $titulos;
    font-weight: normal;
}

.container {
    width: #{"min(90vw, 800px)"};
    margin: auto;
}

a {
    color: $green;
    text-decoration: none;
}

a:hover {
    color: $light-green;
}

button {
    width: 100%;
    height: 50px;

    border: none;
    color: white;
    background: $green;

    padding: 0;
    border-radius: 0.25rem;
    cursor: pointer;
}

button:hover {
    background: $light-green;
}

.button.new {
    display: inline-block;
    margin-bottom: .8rem;
}

.button.cancel {
    color: $red;
    border: 2px $red solid;
    border-radius: 0.25rem;

    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0.6;
}

.button.cancel:hover {
    opacity: 1;
}

main {
    #balance {
        margin-top: -8rem;

        h2 {
            color: white;
            margin-top: 0;
        }
    }

    .card {
        background: white;
        padding: 1.5rem 2rem;
        border-radius: 0.25rem;

        margin-bottom: 2rem;
        color: $titulos;

        h3 {
            font-weight: normal;
            font-size: 1rem;

            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        p {
            font-size: 2rem;
            line-height: 3rem;
            white-space:nowrap;
            margin-top: 1rem;
        }
    }

    .total.positive {
        background: $green;
        color: white;
    }

    .total.negative {
        background: $red;
        color: white;
    }

    #transaction {
        display: block;
        width: 100%;
        overflow-x: auto;

        #data-table {
            width: 100%;
            border-spacing: 0 0.5rem;
            color: $textos;
        }

        table {
            thead tr th:first-child,
            tbody tr td:first-child {
                border-radius: 0.25rem 0 0 0.25rem;
            }

            thead tr th:last-child,
            tbody tr td:last-child{
                border-radius: 0 0.25rem 0.25rem 0;
            }

            thead th {
                background: white;
                color: $textos;

                font-weight: normal;
                padding: 1rem 2rem;

                text-align: left;
            }

            tbody tr {
                opacity: 0.7
            }

            tbody tr:hover {
                opacity: 1
            }

            tbody td {
                background:white;
                padding: 1rem 2rem;
            }

            td.description {
                color: $titulos;
                width: 25%;
                text-align: left;
            }

            td.income {
                color: #12a454;
                width: 25%;
                text-align: left;
            }

            td.expense {
                color: $red;
                width: 25%;
                text-align: left;
            }
            td.date {
                width: 35%;
                text-align: left;
            }
            td.btn-action {
                width: 20%;
            }
        }
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.modal-overlay {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    z-index: 999;

    .modal{
        background: #F0F2F5;
        padding: 2.4rem;
        width: 90%;
        max-width: 500px;
        z-index: 1;
    }
}

.active {
    opacity: 1;
    visibility: visible;
}

#form {
    max-width: 500px;

    h2 {
        margin-top: 0;
    }

    input {
        border: none;
        border-radius: 0.2rem;

        padding: 0.8rem;

        width: 100%;
    }

    .input-group {
        margin-top: 0.8rem;
    }

    .input-group small{
        opacity: 0.4;
    }

    .input-group.actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .input-group.actions .button,
    .input-group.actions button {
        width: 48%;
    }
}

.btn-edit {
    margin-right: 20px;
    cursor: pointer;
    color: $textos;
}

.btn-remove {
    cursor: pointer;
    color: $textos;
}




footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: $titulos;
    opacity: 0.6;
}

@media (min-width: 800px) {
    html {
        font-size: 87.5%;
    }

    #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

}


